@import '/src/styles/theme.scss';

.spsInspector {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.summary {
  display: grid;
  margin-bottom: 1em;
}

.exposures {
  margin: 0;
  height: 0;
  flex-grow: 1;
  // border: solid 1px red;
  // box-sizing: border-box;
  position: relative;

  table {
    border-collapse: collapse;
  }

  .scroll {
    padding: 1em 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // border: solid 2px green;
    overflow: auto;
  }
}

.exposure {
  display: block;
  margin: 0.5em;

  &-table {
    display: grid;
  }

  // border-radius: 8px;
  // box-shadow: $medium-shadow;
  // padding: 8px;
  // margin: 8px;
}