[submodule "external/stellar-globe"]
	path = external/stellar-globe
	url = https://github.com/michitaro/stellar-globe.git
[submodule "external/pfs-datamodel"]
	path = external/pfs-datamodel
	url = https://github.com/Subaru-PFS/datamodel
[submodule "external/pfs_utils"]
	path = external/pfs_utils
	url = https://github.com/Subaru-PFS/pfs_utils
