.preview {
  a {
    display: inline-block;
  }
  img {
    max-height: 150px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(black, 0.5);
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 4px rgba(white, 0.5);
    }
  }
  p {
    margin-bottom: 0.125ex;
  }
}
