@use '../../styles/theme' as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // min-height: 0 is required for flex children to shrink below their content size
  min-height: 0;
}
