body,
input,
textarea,
button,
select {
  background-color: #222;
}

* {
  color: #ccc;
}

input,
button,
textarea,
select {
  box-shadow: 0 0 2px white;
  border-style: none;
}

button,
input[type="submit"] {
  border-radius: 4px;
  background-color: #222;
  &:hover {
    background-color: #333;
  }
  &:active {
    background-color: #555;
  }
  &:disabled {
    opacity: 0.5;
  }
}

*:focus {
  outline: none;
  box-shadow: 0 0 8px cyan;
}

hr {
  $color: gray;
  border-style: none;
  border-top-style: solid;
  border-top-color: $color;
}

.visit_list {
  .entry {
    cursor: default;
  }
  .selected {
    outline: solid;
    &.sps {
      background-color: green;
    }
    &.mcs {
      background-color: blue;
    }
  }
  .sps {
    background-color: darkgreen;
  }
  .mcs {
    background-color: darkblue;
  }
}
