.SearchCondition {
  padding: 0.25em;
  & > * {
    margin-right: 1em;
  }
}

.SearchBox {
  :global(.sql) {
    font-family: monospace;
    color: darkcyan;
    @media (prefers-color-scheme: dark) {
      color: cyan;
    }
  }
}

.active {
  color: darkcyan;
  @media (prefers-color-scheme: dark) {
    color: cyan;
  }
}
