$border-radius: 8px;

.mainTable {
  border-spacing: 0;
  border-radius: $border-radius;
  th {
    position: sticky;
    top: 0;
  }
  td {
    vertical-align: top;
  }
  td,
  th {
    font-size: small;
    padding: 0 0.5em;
    border-style: solid;
    border-width: 0 0 1px 1px;
  }
  tr.visit:hover {
    background-color: mix(lightblue, #eee, 25);
    @media (prefers-color-scheme: dark) {
      background-color: #033;
    }
  }
  tr.selected {
    background-color: lightblue;
    @media (prefers-color-scheme: dark) {
      background-color: #055;
    }
  }
  .border {
    height: 1em;
    background-color: #ccc;
    @media (prefers-color-scheme: dark) {
      background-color: #444;
    }
  }
  tr:last-child {
    td:first-child {
      border-radius: 0 0 0 $border-radius;
    }
    td:last-child {
      border-radius: 0 0 $border-radius 0;
    }
  }
}

.visitGroup {
  box-shadow: 0 0 8px rgba(black, 0.5);
  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 8px rgba(white, 0.5);
  }
  margin: 1em 0.5em 2em 0.5em;
  border-radius: 8px;
  // overflow: auto;
  // ↑ this conflicts with thead th { position: sticky; }
  table {
    width: 100%;
    table-layout: fixed;
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.visitSet {
  & > table {
    border-radius: $border-radius;
    td {
      text-align: center;
    }
    th:first-child {
      border-radius: $border-radius 0 0 0;
    }
    th:last-child {
      border-radius: 0 $border-radius 0 0;
    }
  }
}

.notes {
  & > * {
    display: inline;
  }
  :global(.username) {
    color: #777;
  }
}

.columnList {
  display: flex;
  flex-wrap: wrap;
  label {
    display: flex;
    align-items: center;
    font-size: small;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(black, 0.5);
    white-space: nowrap;
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 0 4px rgba(white, 0.5);
    }
    input {
      margin-right: 0.25em;
    }
  }
}

.noVisitSet {
  padding: 0.5em 0 0.25em 0.5em;
}
