.fits-header {
  border-spacing: 0;
  td {
    font-size: small;
    font-family: monospace;
    border-width: 0 0 1px 0;
    padding: 0.25em 1em;
  }
}

.fits-header {
  td {
    border: solid 1px #aaa;
    border-width: 0 0 1px 0;
  }
  .keyword {
    color: #555;
  }
  .comment {
    color: #077;
  }
}

@media (prefers-color-scheme: dark) {
  .fits-header {
    td {
      border: solid 1px darkslategray;
      border-width: 0 0 1px 0;
    }
    .keyword {
      color: gray;
    }
    .comment {
      color: darkcyan;
    }
  }
}
