.visit-inspector {
  dt {
    opacity: 0.5;
  }
  dd {
    margin-bottom: 0.5em;
  }
  ul {
    margin: 0;
  }
  ul.notes {
    padding-left: 0;
    list-style-type: none;
    .username {
      opacity: 0.5;
    }
    button {
    }
  }
  code {
    font-family: monospace;
  }
}
