.mainTableWrapper {
  box-sizing: border-box;
  border: solid 1px #777;
}

.mainTable {
  width: 100%;
  border-collapse: collapse;
  thead th {
    position: sticky;
    top: 0px;
    background-color: #ddd;
    // outline: solid #ccc 1px;
    @media (prefers-color-scheme: dark) {
      background-color: #333;
      // outline: solid #777 1px;
    }
  }
  td,
  th {
    // outline: 1px gray solid;
    font-size: small;
    padding: 0 0.5em;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #444;
  }
  tr:hover {
    background-color: #033;
  }
  tr.selected {
    background-color: darkcyan;
  }
}

// .visitSet {
//   // position: sticky;
//   // top: 100px;
//   border: solid 1px red;
//   border-width: 1px 1px 0 0;
// }
