@use '../../styles/theme' as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($block-background-color, 0.3);
  z-index: 100;
}

.fullScreen {
  position: fixed;
  z-index: 9999;
}
