@use '../../styles/theme' as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $loading-overlay-background;
  z-index: 100;
  animation: fadeIn 0.3s ease-out;

  // スクロール中でもビューポート内で中央に表示
  // position: sticky で実現
  &.stickyCenter {
    position: sticky;
    top: 0;
    height: 100%;
    margin-bottom: -100%;
    pointer-events: all;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullScreen {
  position: fixed;
  z-index: 9999;
}
