:root {
  font-family: sans-serif;
}

:root,
body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

form {
  display: inline;
  margin: 0;
  padding: 0;
}

code {
  font-family: monospace;
}

.id {
  font-family: monospace;
  font-size: small;
  display: inline;
  opacity: 0.75;
}

.time {
  font-family: monospace;
  font-size: small;
  display: inline;
  opacity: 0.75;
}

.date {
}

.shadow {
  box-shadow: 0 0 4px #777;
}

label {
  user-select: none;
}

.compact-table {
  border-collapse: collapse;
  td,
  th {
    font-size: smaller;
    padding: 0 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    @media (prefers-color-scheme: dark) {
      border-color: #444;
    }
  }
  th {
    background-color: #ddd;
    @media (prefers-color-scheme: dark) {
      background-color: #444;
    }
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.75);
}

hr {
  padding: 0;
  margin: 0;
  height: 4px;
  background-color: #ccc;
  @media (prefers-color-scheme: dark) {
    background-color: #333;
  }
  border-style: none;
}

ul {
  margin: 0;
}

.command {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  display: block;
  box-shadow: 0 0 4px desaturate(rgba(darkcyan, 1), 25);
  background-color: desaturate(mix(#eee, #033, 80), 25);
  color: desaturate(mix(darkcyan, black), 25);
  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 4px rgba(white, 0.25);
    background-color: desaturate(#002, 75);
    color: desaturate(lightblue, 75);
  }
  font-size: smaller;
}

.notes {
  font-size: small;
  padding-left: 0;
  list-style-type: none;
  .username {
    color: #777;
  }
}

h3,
h4,
h5,
h6 {
  margin: 0.25em 0;
  font-size: small;
}
