* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

form {
  display: inline;
  margin: 0;
  padding: 0;
}

#app,
.router-view {
  height: 100%;
}

code {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  display: block;
}

.id {
  font-family: monospace;
  font-size: small;
  display: inline;
  opacity: 0.75;
}

.time {
  font-family: monospace;
  font-size: small;
  display: inline;
  opacity: 0.75;
}

.date {
}

.shadow {
  box-shadow: 0 0 4px #777;
}
