.end-h {
  display: flex;
  justify-content: flex-end;
}

.fill-h {
  display: flex;
  flex-direction: column;
}

.center {
  display: table;
  margin: auto;
}

.inline-block {
  display: inline-block;
}
