.splitpanes {
  display: flex;
  width: 100%;
  height: 100%;
}
.splitpanes--vertical {
  flex-direction: row;
}
.splitpanes--horizontal {
  flex-direction: column;
}
.splitpanes--dragging * {
  user-select: none;
}
.splitpanes__pane {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.splitpanes--vertical .splitpanes__pane {
  transition: width 0.2s ease-out;
}
.splitpanes--horizontal .splitpanes__pane {
  transition: height 0.2s ease-out;
}
.splitpanes--dragging .splitpanes__pane {
  transition: none;
}
.splitpanes__splitter {
  touch-action: none;
}
.splitpanes--vertical > .splitpanes__splitter {
  min-width: 1px;
  cursor: col-resize;
}
.splitpanes--horizontal > .splitpanes__splitter {
  min-height: 1px;
  cursor: row-resize;
}
.splitpanes.default-theme .splitpanes__pane {
}
.splitpanes.default-theme .splitpanes__splitter {
  background-color: #ccc;
  @media (prefers-color-scheme: dark) {
    background-color: #555;
  }
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  transition: box-shadow 0.2s, background-color 0.2s;
  &:hover {
    background-color: lightblue;
    box-shadow: 0 0 4px lightblue;
    @media (prefers-color-scheme: dark) {
      background-color: darkcyan;
      box-shadow: 0 0 4px darkcyan;
    }
  }
}
.default-theme.splitpanes .splitpanes .splitpanes__splitter {
  z-index: 1;
}
.default-theme.splitpanes--vertical > .splitpanes__splitter,
.default-theme .splitpanes--vertical > .splitpanes__splitter {
  width: 7px;
}
.default-theme.splitpanes--horizontal > .splitpanes__splitter,
.default-theme .splitpanes--horizontal > .splitpanes__splitter {
  height: 7px;
}
