@use '../../styles/theme' as *;

.home {
  display: flex;
  height: 100%;
  background-color: $background-color;
}

.leftPane {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $border-color;
  overflow: hidden;
  // min-height: 0 is required for flex children to shrink below their content size
  min-height: 0;
}

.resizer {
  width: 6px;
  background-color: $border-color;
  cursor: col-resize;
  flex-shrink: 0;
  transition: background-color 0.2s;
  user-select: none;

  &:hover,
  &.resizerActive {
    background-color: $accent;
  }
}

.rightPane {
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $background-color;
  // min-height: 0 is required for flex children to shrink below their content size
  min-height: 0;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $hint-text-color;
  font-size: 1rem;
}
