body {
  background-color: #eee;
}

body,
input,
textarea,
button,
select {
  color: #333;
}

input,
button,
textarea,
select {
  box-shadow: 0 0 2px rgba(black, 0.75);
  border-style: none;
  margin: 2px;
  background-color: mix(white, #eee);
}

input[type="radio"] {
  box-shadow: none;
}

button,
input[type="submit"] {
  border-radius: 4px;
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #ccc;
  }
  &:disabled {
    &:active,
    &:hover {
      background-color: #eee;
    }
    color: #777;
  }
}

*:focus {
  outline: none;
  box-shadow: 0 0 8px blue;
}

.lazy-image {
  box-shadow: 0 0 4pt rgba(black, 0.5);
  border-radius: 4px;
}
