@use "../../styles/theme" as *;

.focalPlaneContainer {
  position: relative;
}

.baseCanvas {
  display: block;  // インラインのgapを防ぐ
}

.focusCanvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
