// https://www.w3schools.com/howto/howto_css_loader.asp

.loader {
  border-radius: 50%;
  border: 16px solid #aaa;
  border-top: 16px solid #999;
  border-bottom: 16px solid #999;
  @media (prefers-color-scheme: dark) {
    border: 16px solid #999;
    border-top: 16px solid #555;
    border-bottom: 16px solid #555;
  }
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
  z-index: 0;
  margin: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #777;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
