@use '../../styles/theme' as *;

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
}

.iconButton {
  @include button-standard;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
