body {
  background-color: #eee;
}

input,
button,
textarea,
select {
  box-shadow: 0 0 2px black;
  border-style: none;
  margin: 2px;
}

button,
input[type="submit"] {
  border-radius: 4px;
  background-color: #eee;
  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #ccc;
  }
  &:disabled {
    &:active,
    &:hover {
      background-color: #eee;
    }
  }
}

*:focus {
  outline: none;
  box-shadow: 0 0 8px darkcyan;
}

code {
  box-shadow: 0 0 4px black;
  background-origin: rgba(black, 0.5);
  color: darkcyan;
}

.lazy-image {
  box-shadow: 0 0 4pt rgba(black, 0.5);
  border-radius: 4px;
}

.fixed-header {
  background-color: rgba(#eee, 0.75);
}
